# Ambientes virtuais
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]
.pytest_cache/

# Arquivos de entrada e saída
input/
output/
resultado_teste/

# Excel temporário
~$*.xlsx

# IDE
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db